// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#la {
  padding-left: 5px;
  padding-right: 5px;
}
.badges {
  cursor: pointer;
}