// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  color: white !important;
}
.xx {
  color: #cc0000;
}
.text-muted {
//  direction: rtl;
  text-shadow: 1px -1px 1px red;
  font-size: .822em;
  font-family: "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
h1 {
  padding: 10px 0;
}