%nav.navbar.navbar-default{:role=>"navigation"}
  %p.navbar-text CMS++
  %p.navbar-text Content
  %p.navbar-text
    =link_to 'Categories',admin_categories_path
  %p.navbar-text
    =link_to 'Menus',admin_menus_path

